<!DOCTYPE html>
<html>
    
    <head>
        <title>GymTech</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>

    <body class="bg-custom">

        {% if session.get('user_id') %}
            <nav class="navbar bg-header px-3">
                <a class="navbar-brand gap-2 text-decoration-none" href="/">
                    <img 
                        src="{{ url_for('static', filename='images/logo.png') }}" 
                        alt="logo" 
                        class="logo-img"
                    >
                    <span class="logo-text">GymTech</span>
                </a>
                <ul class="nav">
                    <li class="nav-item ps-3">
                        <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'home' %}active-nav{% endif %}" href="/">
                            Home
                        </a>
                    </li>
                    <li class="nav-item ps-3">
                        <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'plan' %}active-nav{% endif %}" href="/plan">
                            Plans
                        </a>
                    </li>
                    <li class="nav-item ps-3">
                        <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'equipments' %}active-nav{% endif %}" href="/equipments">
                            Equipments
                        </a>
                    </li>
                    {% if session.get('user_type') == 'Admin' %}
                        <li class="nav-item ps-3">
                            <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'members' %}active-nav{% endif %}" href="/members">
                                Members
                            </a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'employees' %}active-nav{% endif %}" href="/employees">
                                Employees
                            </a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'trainers' %}active-nav{% endif %}" href="/trainers">
                                Trainers
                            </a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'salary' %}active-nav{% endif %}" href="/salary">
                                Salary
                            </a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'payments' %}active-nav{% endif %}" href="/payments">
                                Payments
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item ps-3">
                        <a class="nav-link text-decoration-none text-white {% if request.endpoint == 'contact' %}active-nav{% endif %}" href="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="dropdown">
                    <img 
                        src="{{ url_for('static', filename='images/' + session.get('user_image', 'about.png')) }}" 
                        alt="user"
                        class="header-user-img dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >

                    <ul class="dropdown-menu dropdown-menu-end user-dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/profile">
                                <i class="bi bi-person-circle me-2"></i> Profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item text-danger" href="/logout">
                                <i class="bi bi-box-arrow-right me-2"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% endif %}

        {% if request.endpoint in ['login', 'register'] %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        {% else %}
        <div>
        {% endif %}
            {% block content %}{% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        toastr.options = {
                            "closeButton": true,
                            "progressBar": true
                        };

                        {% if category == 'success' %}
                            toastr.success("{{ message }}");
                        {% elif category == 'error' %}
                            toastr.error("{{ message }}");
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </script>
        <script>
            function updateFileName(input) {
                const fileName = input.files.length > 0 
                    ? input.files[0].name 
                    : "No file selected";

                document.getElementById("file-name").innerText = fileName;
            }
        </script>
        <script>
            function updateEmpFileName(input, empId) {
                const fileNameSpan = document.getElementById(`file-name-${empId}`);

                if (input.files.length > 0) {
                    fileNameSpan.innerText = input.files[0].name;
                } else {
                    fileNameSpan.innerText = "No file selected";
                }
            }
        </script>
        <script>
            function updateEquipmentFileName(input) {
                const fileNameSpan = document.getElementById("equipment-file-name");

                if (input.files && input.files.length > 0) {
                    fileNameSpan.textContent = input.files[0].name;
                } else {
                    fileNameSpan.textContent = "No file selected";
                }
            }

            function updateEditEquipmentFileName(input, id) {
                const fileNameSpan = document.getElementById(
                    "equipment-file-name-" + id
                );

                if (input.files && input.files.length > 0) {
                    fileNameSpan.textContent = input.files[0].name;
                } else {
                    fileNameSpan.textContent = "No file selected";
                }
            }
        </script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {

                function initSlider(sliderId) {
                    const slider = document.getElementById(sliderId);

                    if (!slider) return;

                    let currentIndex = 0;
                    const visibleCards = 3;
                    const slideWidth = 100 / visibleCards;

                    slider.addEventListener("wheel", function (e) {
                        e.preventDefault();

                        const totalSlides = slider.children.length;
                        const maxIndex = totalSlides - visibleCards;

                        if (e.deltaY > 0 && currentIndex < maxIndex) {
                            currentIndex++;
                        } 
                        else if (e.deltaY < 0 && currentIndex > 0) {
                            currentIndex--;
                        }

                        slider.style.transform =
                            `translateX(-${currentIndex * slideWidth}%)`;
                    });
                }

                initSlider("plansSlider");
                initSlider("trainersSlider");
            });
        </script>
        <script>
            function toggleAddPlanFields() {
                const userType = document.getElementById("addUserType").value;
                const plan = document.getElementById("addPlanField");
                const start = document.getElementById("addStartDate");
                const end = document.getElementById("addEndDate");

                const isAdmin = userType === "Admin";

                plan.disabled = isAdmin;
                start.disabled = isAdmin;
                end.disabled = isAdmin;

                if (isAdmin) {
                    plan.value = "";
                    start.value = "";
                    end.value = "";
                }
            }

            document.addEventListener("DOMContentLoaded", toggleAddPlanFields);
        </script>
    </body>
</html> 