{% extends "base.html" %}
{% block content %}

<div class="contact-section py-5" style="min-height: 92.40vh;">

    <div class="container">
        <div class="text-center mb-5">
            <h2 class="section-title">Contact Us</h2>
        </div>

        <div class="row">

            <!-- LEFT: FORM -->
            <div class="col-md-6">
                <form id="contactForm">
                    <input type="hidden" name="service" value="Gym Membership">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" class="form-control contact-input mb-3" placeholder="First Name" name="firstName" required>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control contact-input mb-3" placeholder="Last Name" name="lastName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" class="form-control contact-input mb-3" placeholder="Email" name="email" required>
                        </div>
                        <div class="col-md-6">
                            <input type="phone" class="form-control contact-input mb-3" placeholder="Phone" name="phone" required>
                        </div>
                    </div>
                    <textarea class="form-control contact-input mb-3" rows="5" placeholder="Your Message" name="message" required></textarea>
                    <input type="hidden" name="signature" value="GymTech 🏋️">

                    <button class="btn btn-hero" type="submit" id="sendBtn">Send Message</button>
                </form>
            </div>

            <!-- RIGHT: INFO -->
            <div class="col-md-6 text-white d-flex flex-column justify-content-center align-items-center text-center">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="GymTech Logo" class="contact-logo mb-4">
                <h4 class="mb-3 fs-1">Get in Touch</h4>
                <p class="fs-5"><strong>📍 Address:</strong> Ahmedabad, Gujarat, India</p>
                <p class="fs-5"><strong>📞 Phone:</strong> +91 9876543210</p>
                <p class="fs-5"><strong>✉ Email:</strong> support@gym.com</p>
            </div>

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        emailjs.init("y4b5wX7grM5IEeGm6");

        const form = document.getElementById("contactForm");
        const btn = document.getElementById("sendBtn");

        form.addEventListener("submit", function(e) {
            e.preventDefault();

            btn.innerText = "Sending...";
            btn.disabled = true;

            emailjs.sendForm(
                "service_mhny8xc",
                "template_c7dexuf",
                form
            )
            .then(function() {
                toastr.success("Message sent successfully 🎉");

                form.reset();

                btn.innerText = "Send Message";
                btn.disabled = false;
            })
            .catch(function(error) {
                toastr.error("Something went wrong. Please try again.");
                console.log(error);

                btn.innerText = "Send Message";
                btn.disabled = false;
            });
        });

    });
</script>

{% endblock %}